* {
  box-sizing:border-box;
}


body{
  font-family: Source Sans Pro,sans-serif;
  background-color: #110915;
}

#title{
  background: linear-gradient(to right, #a11077 20%, #9a08c0 80%);
  display:flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 550;
  
}

.mission{
  color: #d56aff;
  font-size: 40px;
  line-height: 50px;
  font-family: Barlow,sans-serif;
  width: 13em;
  font-weight: 550;
}

.page-divider {
  background-color: #a11077;
  height: 1px;
  margin: 0;
  margin-bottom: 5px;
}

.bottom p {
  margin: 0;
}


.search{
  background:transparent;
  font-size: 20px;
  line-height: 40px;
  border:none;
  color:#f1cfff;
  padding: 0 10px 0 0;
  
}
.search::placeholder{
  color: #b095bd;
}


.artist{
  font-size: 14px;
  font-weight:600;
  box-sizing: border-box;
  color: #ffa9e1;
  display:flex;
  justify-content: space-between;
}


.play{
  color: rgba(255,169,225,.6);


}

#results {

}


#reset{
  color: #d21f92;
  border: 0 none;
  font-family: Source Sans Pro, sans-serif;
  font-size:14px;
  cursor: pointer;
  margin-right: 12px;
  padding-left: 10px;
  border-left: 1px solid #d21f92;
  appearance: none;
  background: transparent;
  padding-right: 0;

}


.bottom{
  color: wheat;
  padding-top: 1rem!important;
  padding-bottom: 1rem!important;
}
.container{
  margin-top: 1.5rem!important;
  margin-bottom: 1.5rem!important;
}


hr{
  height: 1px;
}

.spotify-connect{
  color: black;
}
#search-bar{
  font-family: Helvetica Neue,Helvetica,sans-serif;
  font-weight: 880;
  height: 40px;
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 10px 15px 10px 10px;
  border-radius: 20px;
  color: #191919;
  font-size: 13px;
  text-decoration: none;
  transition: box-shadow;
  box-sizing: border-box;
  cursor:pointer

}


#logo-btn {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0;

}


.spotifyicon{
  margin:3px;
}

ul {
    overflow: hidden; 
    flex: 0;
    appearance: none;
    border: 0 none;
    font-family: Source Sans Pro,sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-right: 12px;
    color: #86155e;
    padding-left: 10px;
    border-left: 1px solid #400d54;
    background: transparent;
    padding-right: 0;
    background-color: rgba(64,13,84,.6);
    transition: background-color .2s;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding:10px;
    cursor:pointer
  }

  a:link {
    color:rgb(240, 213, 234);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(240, 213, 234);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(213, 71, 173);
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  }
  img {
    position:relative;
    margin:4px;
    width:30px;
    height:30px;
    border-radius: 50%;
    float: left;
  }

.switch{
    background:#4e1467;
    position: relative;
    display: inline-block;
    border-radius: 20px;
    margin:0 10px ;
    height: 20px;
    width: 40px;
    cursor:pointer
  }

  .switch:after{
    box-shadow: 0 1px 4px 2px rgb(152,24,204);
    background: #4f1467;
    border-radius: 8px;
    content: ""; 
    display: block;
    width:16px;   
    height: 16px;   
    position: absolute;
    left:2.5px;
    top: 2px;
  }
  input[type="checkbox"]{
    display:none
  }
  input[type="checkbox"]:checked ~ .artists,
  input[type="checkbox"]:not(:checked) ~ .tracks{
    color:#ffa9e1;

  }
  input[type="checkbox"]:not(:checked) ~ .switch:after{
    left:auto;
    right: 3px;
  }

  
   
  .artists,.tracks {
    font-family: Source Sans Pro,sans-serif;
    font-weight: 400;
    color:rgba(255,169,225,.6);
  }

  form{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }