* {
    box-sizing:border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: #110915;
}



#title{
    background: linear-gradient(to right, #a01077 20%, #9a08c0 80%);
}
.mission{
    color: #d66aff;
}

.search{
    background:transparent;
    font-size: 20px;
    line-height: 40px; 
    display:flex;
    justify-content: space-between;
    border:none;
    color:white;
}
.search::placeholder{
    color: #b095bd;
}

.artist{
    font-size: 14px;
    box-sizing: border-box;
    color: #ffa9e1;
    display:flex;
    justify-content: space-between;
}

.play{
    color: rgba(255,169,225,.6);

}

#reset{
    color: #d21f92;
    border-left-color: #86155e;
    font-family: Source Sans Pro, sans-serif;
    font-size:14px;
    cursor: pointer;
    margin-right: 12px;
    padding-left: 10px;
    border-left: 1px solid #400d54;
    appearance: none;
    background: transparent;
   
}

.container{
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.container{
    margin-top: 1.5rem!important;
    margin-bottom: 1.5rem!important;
}

hr{
    height: 1px;
}

#search-bar{
    font-family: Helvetica Neue,Helvetica,sans-serif;
    font-weight: 880;
    height: 40px;
    display: flex;
    background-color: #fff;
    align-items: center;
    padding: 10px 15px 10px 10px;
    border-radius: 20px;
    color: #191919;
    font-size: 13px;
    text-decoration: none;
    transition: box-shadow;
    box-sizing: border-box;


}

#logo-btn {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.spotifyicon{
    margin:3px;
}